.home {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/bgs/paper.jpg');
  background-size: 10% 10%;

  &__preview {
    flex: 0 0 40vh;
    width: 100%;
    background-image: url('../../assets/bgs/main.jpg');
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: cover;
    background-attachment: fixed;
  }

  &__content {
    flex: 1 0 100vh;
    background: linear-gradient(rgb(168, 177, 72), rgb(36, 41, 79));
  }
}
